.main__div--1 {
  width: 30%;
  order: 1;
}

.main__div--2 {
  width: 40%;
  order: 2;
}

.main__div--3 {
  width: 30%;
  order: 3;
}

.main__div--4 {
  width: 50%;
  order: 4;
}

.main__div--5 {
  width: 50%;
  order: 5;
}