/*
La pseudoclase :root hace referencia al elemento raíz del
documento, o lo que es lo mismo, al elemento <html>.
La diferencia de utilizar html o :root como selector es
que este último tiene algo más de especificidad CSS.
Mientras que html tiene 001, :root tendría 010.

Al colocarla en :root estamos definiendo que la custom
property estará definida para el ámbito de esa etiqueta
<html> (o cualquier elemento hijo), es decir, a todo el
documento.
*/

:root {
  --primary-color: #003476;
  --secundary-color: #b4d2f7;
  --header-size: 4rem;
  --font: 1.8rem;
}

/*
Variables en CSS (tambien conocidas como Custom Properties).
Nos servirán para guardar valores que reiteradamente
ocuparemos en el desarrollo de nuestro proyecto.
Realmente se le ve mas utilidad en proyectos grandes.
Pero claro, es importante conocerlo desde ahora.
*/